@model Step_MVC.ViewModels.EmployeeDetailsViewModel
<h1>List of Employees</h1>
{<h2>Index</h2>
<table>
    @foreach (var item in Model.Employees)
    {
        <tr>
            <td>@Html.DisplayFor(ModelItem => item.Name)</td>

        </tr>
    }
</table>

